/*.fas{
    font-size:large ;
    color:white;  
    }*/
.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    height: 37px;
    text-align: center;
    margin-top: 25px;
    
}
.input-container {
    display:-ms-flexbox;
    display:flex;
    width:100%;
    margin-bottom:15px;
}
.input-field{
    width:100%;
    padding: 10px;
    outline: none;
    margin-top:25px;
   
}
.input-field:focus{
    border: 2px solid black;
}
.loginstyle {
    font-family: 'Roboto', sans-serif;
}
body {
    font-family: Arial, sans-serif;
}