@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="zxx">


<!-- Mirrored from quomodosoft.com/html/rush/rush/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 04 Nov 2021 12:34:54 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<!-- /Added by HTTrack -->

<head>
    <!--====== USEFULL META ======-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="SEORush HTML5 Template is a simple SEO and Digital marketing Template" />
    <meta name="keywords" content="App, Landing, Business, Onepage, Html, Business" />

    <!--====== TITLE TAG ======-->
    <title>Pathology</title>

    <!--====== FAVICON ICON =======-->
    <link rel="shortcut icon" type="image/ico" href="~/Landing/assets//img/favicon.png" />

    <!--====== STYLESHEETS ======-->
    <link href="~/Landing/assets//css/plugins.css" rel="stylesheet">
    <link href="~/Landing/assets//css/plugins/bx-slider.css" rel="stylesheet">
    <link href="~/Landing/assets//css/theme.css" rel="stylesheet">
    <link href="~/Landing/assets//css/icons.css" rel="stylesheet">

    <!--====== MAIN STYLESHEETS ======-->
    <link href="~/Landing/style.css" rel="stylesheet">
    <link href="~/Landing/assets//css/responsive.css" rel="stylesheet">

    <script src="~/Landing/assets//js/vendor/modernizr-2.8.3.min.js"></script>
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body class="home-two" data-spy="scroll" data-target=".mainmenu-area" data-offset="90">



    <!--- PRELOADER -->
    <div class="preeloader">
        <div class="preloader-spinner"></div>
    </div>

    <!--SCROLL TO TOP-->
    <a href="#scroolup" class="scrolltotop"><i class="fa fa-long-arrow-up"></i></a>

    <!--START TOP AREA-->


    <header class="top-area" id="home">
        <div class="header-top-area" id="scroolup">
            <!--MAINMENU AREA-->
            <div class="mainmenu-area" id="mainmenu-area">
                <div class="mainmenu-area-bg"></div>
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-header">
                            <a href="#home" class="navbar-brand"><img src="/global_assets/images/my/logo.png" alt="logo"></a>
                        </div>
                        <div class="mainmenu-and-right-button">
                            <div id="main-nav" class="stellarnav">
                                <ul id="nav" class="nav navbar-nav">
                                    <li class="active">
                                        <a href="#home">Home</a>
                                    </li>
                                    <li><a href="#features">Service</a></li>
                                    <li><a href="#about">About Us</a></li>
                                    <li><a href="#Test">Test</a></li>

                                </ul>
                            </div>
                            <div class="login-register">
                                <ul>
                                    <li><a href="/Identity/Account/Login">login</a></li>
                                    <li><a href="/Identity/Account/Register">Sign Up</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <!--END MAINMENU AREA END-->
        </div>
        <div class="welcome-text-area">
            <div class="area-bg"></div>
            <div class="welcome-area">
                <div class="container">
                    <div class="row flex-v-center">
                        <div class="col-md-7 col-lg-6 col-sm-12 col-xs-12">
                            <div class="welcome-text">
                                <h2 class="wow fadeInUp" data-wow-delay="0.2s">Pathology tests cover blood tests, and tests on urine, stools and bodily tissues</h2>
                                <p class="wow fadeInUp" data-wow-delay="0.3s">
                                    Pathology tests leave many people squeamish, but they’re an important part of detecting, diagnosing and treating disease. In fact, if you’re sick, many decisions about your care will come down to the results of your blood
                                    and pathology tests.
                                </p>
                                <div class="home-button mt60 xs-mt40 wow fadeInUp" data-wow-delay="0.4s">
                                    <a class="left" href="#">Book your appointment</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-layer wow fadeInRight">
                    <img src="~/Landing/assets//img/home/home-mockup.png" alt="">
                </div>
            </div>
        </div>
    </header>
    <!--END TOP AREA-->
    <!--FEATURES TOP AREA-->
    <section class="features-top-area padding-100-50 wow fadeIn " id="features">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
                    <div class="area-title text-center">

                        <h2>More than one reason to pick Pathology lab test </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box mb50 center padding20 box-hover-1 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="box-img-icon">
                            <img src="~/Landing/assets//img/icon/icon_4.png" alt="">
                        </div>
                        <h3 class="box-title">Online reports </h3>
                        <p>
                            The most common problem faced by the patients is the collection of the reports. It is time consuming to collect the report from the labs, but there are several best pathology laps in Uttar Pradesh whose reports you can get online
                            from anywhere.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box relative mb50 center padding20 box-hover-1 active wow fadeInUp" data-wow-delay="0.2s">
                        <div class="box-img-icon">
                            <img src="~/Landing/assets//img/icon/icon_5.png" alt="">
                        </div>
                        <h3 class="box-title">Provides instant results</h3>
                        <p>
                            The essential advantage of the pathology labs is that patients will get instant results of their reports. This is only possible at the reliable pathology labs because of their advanced equipment in labs.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box relative mb50 center padding20 box-hover-1 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="box-img-icon">
                            <img src="~/Landing/assets//img/icon/icon_6.png" alt="">
                        </div>
                        <h3 class="box-title">Home visits</h3>
                        <p>
                            The most crucial benefit of the best pathology labs in Pakistan that you can't forget is the availability of home visits to pathologists. They will do all the tests from the comfort of your home. This will save you time and
                            effort.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--FEATURES TOP AREA END-->
    <!--ABOUT AREA-->
    <section class="about-area sky-gray-bg relative" id="about">
        <div class="about-top-area relative padding-150-150">
            <div class="about-mockup-bg wow fadeIn">
                <img src="~/Landing/assets//img/about/about-3.png" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-md-offset-6 col-lg-offset-6 col-sm-12 col-xs-12">
                        <div class="about-content wow fadeInUp">
                            <h3 class="mb30">
                                WHAT IS PATHOLOGY?
                            </h3>
                            <p>
                                Some people may have a vague understanding of the place of pathology in daily life, but the question remains: what is pathology in medical terms? Pathology is a medical speciality that determines the cause and nature of diseases
                                by examining and testing body tissues and bodily fluids.
                            </p>
                            <a href="#" class="read-more mt30 inline-block">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="about-bottom-area relative padding-150-150">
            <div class="container">
                <div class="row flex-v-center">
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <div class="about-content xs-mb50 wow fadeInUp">
                            <h3 class="mb30">70% OF MEDICAL DECISIONS RELY ON PATHOLOGY</h3>
                            <p>
                                At every stage of life, we rely on pathology for our health and wellbeing. Did you know that the majority of the times we receive a medical diagnosis it is the result of a test that has been sent away to a pathology laboratory?
                                The work of pathology teams is rarely seen by the public.
                            </p>
                            <a href="#" class="read-more mt30 inline-block">book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-mockup-bg sm-mt50 wow fadeIn">
                <img src="~/Landing/assets//img/about/about-4.png" alt="">
            </div>
        </div>
    </section>
    <!--ABOUT AREA END-->
    <!--TESTMONIAL AREA TWO-->
    <section class="testimonials-style-two section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
                    <div class="area-title text-center">
                        <p>Client Feedback</p>
                        <h2>Our lovely customers loves us and our services</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="testmonial-style-two">
                        <div id="testimonials-slider-pager" class="hidden-xs">
                            <a href="#" class="pager-item active" data-slide-index="0"><img src="~/Landing/assets//img/testmonial/testmonial-1.jpg" alt="" /></a>
                            <a href="#" class="pager-item" data-slide-index="1"><img src="~/Landing/assets//img/testmonial/testmonial-2.jpg" alt="" /></a>
                            <a href="#" class="pager-item" data-slide-index="2"><img src="~/Landing/assets//img/testmonial/testmonial-3.jpg" alt="" /></a>
                            <a href="#" class="pager-item" data-slide-index="3"><img src="~/Landing/assets//img/testmonial/testmonial-1.jpg" alt="" /></a>

                        </div>
                        <div class="testimonials-slider">
                            <ul class="slider">
                                <li class="slide-item">
                                    <div class="single-testimonials">
                                        <div class="author-image">
                                            <img src="~/Landing/assets//img/testmonial/testmonial-1.jpg" alt="" />
                                        </div>
                                        <div class="author-content">
                                            <img src="~/Landing/assets//img/quotes.png" alt="" />
                                            <p>
                                                "It's nice to have a dashboard that's practically all-in-one for all of my client's pathology lab test demands. As a member of this platform, I like how economical it is, as well as the custom branding and content
                                                curating features."
                                            </p>
                                            <h3>Izat Ali</h3>

                                        </div>
                                    </div>
                                </li>
                                <li class="slide-item">
                                    <div class="single-testimonials">
                                        <div class="author-image">
                                            <img src="~/Landing/assets//img/testmonial/testmonial-2.jpg" alt="" />
                                        </div>
                                        <div class="author-content">
                                            <img src="~/Landing/assets//img/quotes.png" alt="" />
                                            <p>
                                                "We wanted a tool that emphasized responsiveness and participation. every day, we required an easy-to-use tool. We wanted a tool that would allow us take esy test . pathalogy system is the only one that can
                                                help you with all of these things and more."
                                            </p>
                                            <h3>Waqar</h3>

                                        </div>
                                    </div>
                                </li>
                                <li class="slide-item">
                                    <div class="single-testimonials">
                                        <div class="author-image">
                                            <img src="~/Landing/assets//img/testmonial/testmonial-3.jpg" alt="" />
                                        </div>
                                        <div class="author-content">
                                            <img src="~/Landing/assets//img/quotes.png" alt="" />
                                            <p>
                                                "We've found that lab test has helped us get more out of each one and ensured that our followers are constantly seeing our finest material. Our job has been made a lot simpler, and our social media accounts
                                                have been improved."
                                            </p>
                                            <h3>Salar Javed</h3>

                                        </div>
                                    </div>
                                </li>
                                <!-- <li class="slide-item">
                                    <div class="single-testimonials">
                                        <div class="author-image">
                                            <img src="~/Landing/assets//img/testmonial/testmonial-4.jpg" alt="" />
                                        </div>
                                        <div class="author-content">
                                            <img src="~/Landing/assets//img/quotes.png" alt="" />
                                            <p>"pathology lab test is a great tool to use for medical test."</p>
                                            <h3>Angel Bura</h3>

                                        </div>
                                    </div>
                                </li>
                                <li class="slide-item">
                                    <div class="single-testimonials">
                                        <div class="author-image">
                                            <img src="~/Landing/assets//img/testmonial/testmonial-5.jpg" alt="" />
                                        </div>
                                        <div class="author-content">
                                            <img src="~/Landing/assets//img/quotes.png" alt="" />
                                            <p>"pathology lab test is well designed and offers nearly every feature accounts."
                                            </p>
                                            <h3>Him Tim</h3>

                                        </div>
                                    </div>
                                </li>
                                <li class="slide-item">
                                    <div class="single-testimonials">
                                        <div class="author-image">
                                            <img src="~/Landing/assets//img/testmonial/testmonial-6.jpg" alt="" />
                                        </div>
                                        <div class="author-content">
                                            <img src="~/Landing/assets//img/quotes.png" alt="" />
                                            <p>"I appreciate how pathalogy softwere offers different features for their users by providing all test in one place "</p>
                                            <h3>Bradley C</h3>

                                        </div>
                                    </div>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--TESTMONIAL AREA TWO END-->
    <!--Test AREA AREA-->
    <section class="features-top-area padding-100-50 wow fadeIn" id="Test">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
                    <div class="area-title text-center">

                        <h2>Available Test </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box mb50 center padding20 box-hover-1 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="box-img-icon">
                            <img src="~/Landing/assets//img/icon/icon_4.png" alt="">
                        </div>
                        <h3 class="box-title">Blood Test </h3>
                        <p>
                            The most common problem faced by the patients is the collection of the reports. It is time consuming to collect the report from the labs, but there are several best pathology laps in Uttar Pradesh whose reports you can get online
                            from anywhere.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box relative mb50 center padding20 box-hover-1 active wow fadeInUp" data-wow-delay="0.2s">
                        <div class="box-img-icon">
                            <img src="~/Landing/assets//img/icon/icon_5.png" alt="">
                        </div>
                        <h3 class="box-title">Urine test</h3>
                        <p>
                            The essential advantage of the pathology labs is that patients will get instant results of their reports. This is only possible at the reliable pathology labs because of their advanced equipment in labs.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box relative mb50 center padding20 box-hover-1 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="box-img-icon">
                            <img src="~/Landing/assets//img/icon/icon_6.png" alt="">
                        </div>
                        <h3 class="box-title">liver function Test</h3>
                        <p>
                            The most crucial benefit of the best pathology labs in Pakistan that you can't forget is the availability of home visits to pathologists. They will do all the tests from the comfort of your home. This will save you time and
                            effort.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--PRICING AREA AREA END-->
    <!--FOOER AREA-->
    <footer class="footer-area sky-gray-bg section-padding relative wow fadeIn">
        <div class="footer-top-area padding-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="call-to-action flex-v-center padding60 xs-padding30 bg-white">
                            <div class="cta-content width50p xs-width100p">
                                <h3 class="font32 xs-font24">Get Started Today </h3>
                                <p>You're just steps away from to test any kind of related to pathalogy . we are help you to any kind of medical related issue</p>
                            </div>
                            <div class="cta-button width50p xs-width100p right xs-left xs-mt30"><a href="#" class="read-more">Free 30-Day Trial</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-copyright mt5 center">
                            <p>Copyright &copy; <a href="#/">Salar Abbasi</a> All Right Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--FOOER AREA END-->
    <!--====== SCRIPTS JS ======-->
    <script src="~/Landing/assets//js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/Landing/assets//js/vendor/bootstrap.min.js"></script>

    <!--====== PLUGINS JS ======-->
    <script src="~/Landing/assets//js/vendor/jquery.easing.1.3.js"></script>
    <script src="~/Landing/assets//js/vendor/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Landing/assets//js/vendor/jquery.appear.js"></script>
    <script src="~/Landing/assets//js/owl.carousel.min.js"></script>
    <script src="~/Landing/assets//js/swiper.min.js"></script>
    <script src="~/Landing/assets//js/vendor/jquery.bxslider.min.js"></script>
    <script src="~/Landing/assets//js/jquery.parallax-scroll.js"></script>
    <script src="~/Landing/assets//js/stellar.js"></script>
    <script src="~/Landing/assets//js/wow.min.js"></script>
    <script src="~/Landing/assets//js/stellarnav.min.js"></script>
    <script src="~/Landing/assets//js/placeholdem.min.js"></script>
    <script src="~/Landing/assets//js/jquery.sticky.js"></script>

    <!--===== ACTIVE JS=====-->
    <script src="~/Landing/assets//js/main.js"></script>
</body>


<!-- Mirrored from quomodosoft.com/html/rush/rush/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 04 Nov 2021 12:35:29 GMT -->

</html>