@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-capitalize text-center font-weight-bold mb-3 mt-3">Welcome To Pathology lab Management System .</h1>
</div>
<div class="row">

    <div class="d-flex justify-content-center container col-md-4">
        <div class="card p-3 bg-white">
            <div class="about-product text-center mt-2">
                <a asp-action="CreatePatient" asp-controller="Patient"><img src="/global_assets/images/my/blood.png" class=" img-fluid rounded img-thumbnail"></a>
                <div>
                    <a asp-action="CreatePatient" asp-controller="Patient"><h2 class="text-danger font-weight-bold">BLOOD TEST</h2></a>
                </div>
            </div>
            <div class="stats mt-2">
                <div class="d-flex justify-content-between"><span>Pending Test</span><span>14</span></div>
                <div class="d-flex justify-content-between "><span>Complete Test</span><span>20</span></div>
                <div class="d-flex justify-content-between "><span>Reserve Test</span><span>24</span></div>
            </div>
            <div class="d-flex justify-content-between total font-weight-bold"><span>Total Test</span><span>58</span></div>
        </div>
    </div>

    <div class="d-flex justify-content-center container col-md-4">
        <div class="card p-3 bg-white">
            <div class="about-product text-center mt-2">
                <a href="http://www.google.com"><img src="/global_assets/images/my/thriod.png" class=" img-fluid rounded img-thumbnail"></a>
                <div>
                    <a href="http://www.google.com"><h2 class="text-danger font-weight-bold">THYROID ANTIBODY TESTS</h2></a>
                </div>
            </div>
            <div class="stats mt-2">
                <div class="d-flex justify-content-between "><span>Pending Test</span><span>14</span></div>
                <div class="d-flex justify-content-between "><span>Complete Test</span><span>20</span></div>
                <div class="d-flex justify-content-between "><span>Reserve Test</span><span>24</span></div>
            </div>
            <div class="d-flex justify-content-between total font-weight-bold"><span>Total Test</span><span>58</span></div>
        </div>
    </div>
    <div class="d-flex justify-content-center container col-md-4">
        <div class="card p-3 bg-white">
            <div class="about-product text-center mt-2">
                <a href="http://www.google.com"><img src="/global_assets/images/my/liver.png" class=" img-fluid rounded img-thumbnail"></a>
                <div>
                    <a href="http://www.google.com"><h2 class="text-danger font-weight-bold">LIVER FUNCTION TEST </h2></a>
                </div>
            </div>
            <div class="stats mt-2">
                <div class="d-flex justify-content-between "><span>Pending Test</span><span>14</span></div>
                <div class="d-flex justify-content-between "><span>Complete Test</span><span>20</span></div>
                <div class="d-flex justify-content-between "><span>Reserve Test</span><span>24</span></div>
            </div>
            <div class="d-flex justify-content-between total font-weight-bold"><span>Total Test</span><span>58</span></div>
        </div>
    </div>
</div>

<div class="row">

    <div class="d-flex justify-content-center container col-md-4">
        <div class="card p-3 bg-white">
            <div class="about-product text-center mt-2">
                <a href="http://www.google.com"><img src="/global_assets/images/my/IRON.png" class=" img-fluid rounded img-thumbnail"></a>
                <div>
                    <a href="http://www.google.com"><h2 class="text-danger font-weight-bold">IRON STUDIES TEST</h2></a>
                </div>
            </div>
            <div class="stats mt-2">
                <div class="d-flex justify-content-between "><span>Pending Test</span><span>14</span></div>
                <div class="d-flex justify-content-between "><span>Complete Test</span><span>20</span></div>
                <div class="d-flex justify-content-between "><span>Reserve Test</span><span>24</span></div>
            </div>
            <div class="d-flex justify-content-between total font-weight-bold"><span>Total Test</span><span>58</span></div>
        </div>
    </div>

    <div class="d-flex justify-content-center container col-md-4">
        <div class="card p-3 bg-white">
            <div class="about-product text-center mt-2">
                <a href="http://www.google.com"><img src="/global_assets/images/my/Urinalysis.png" class=" img-fluid rounded img-thumbnail"></a>
                <div>
                    <a href="http://www.google.com"><h2 class="text-danger font-weight-bold">URINALYSIS TESTS</h2></a>
                </div>
            </div>
            <div class="stats mt-2">
                <div class="d-flex justify-content-between "><span>Pending Test</span><span>14</span></div>
                <div class="d-flex justify-content-between "><span>Complete Test</span><span>20</span></div>
                <div class="d-flex justify-content-between "><span>Reserve Test</span><span>24</span></div>
            </div>
            <div class="d-flex justify-content-between total font-weight-bold "><span>Total Test</span><span>58</span></div>
        </div>
    </div>


    <div class="d-flex justify-content-center container col-md-4">
        <div class="card p-3 bg-white">
            <div class="about-product text-center mt-2">
                <a href="http://www.google.com"><img src="/global_assets/images/my/X0FT0R.png" class=" img-fluid rounded img-thumbnail"></a>
                <div>
                    <a href="http://www.google.com"><h2 class="text-danger font-weight-bold ">INR<small>(International Normalized Ratio)</small> </h2></a>
                </div>
            </div>
            <div class="stats mt-2">
                <div class="d-flex justify-content-between "><span>Pending Test</span><span>14</span></div>
                <div class="d-flex justify-content-between "><span>Complete Test</span><span>20</span></div>
                <div class="d-flex justify-content-between "><span>Reserve Test</span><span>24</span></div>
            </div>
            <div class="d-flex justify-content-between total font-weight-bold"><span>Total Test</span><span>58</span></div>
        </div>
    </div>
</div>
